@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-dream: ui-sans-serif;
  --font-body: ui-serif;
}

body{
  font-family: var(--font-body);
}

.h-font{
  font-family: var(--font-dream);
}